section.card {
    border: 1px solid #374151;
    border-radius: 8px;
    background: #020617;
    padding: 12px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    font-size: 0.8rem;
    width: 790px;

    div.topBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;
        padding: 4px;
        margin-top: -5px;
        border-bottom: 1px solid #333;

        div.left {
            display: flex;
            align-items: center;
            border: 0px;
            display: flex;
            gap: 20px;

            span.campo {
                border: 0px;
                margin-right: 12px;
            }

            span.campo[data-field="id"] {
                cursor: pointer;

                &:hover {
                    color: rgba(42, 151, 62, 1);
                }

                &[data-selected="true"] {
                    color: rgba(42, 151, 62, 1);
                    font-size: 1.3rem;
                    font-weight: 700;
                }

                /* destaca a borda inferior do topBar quando selecionado */
                div.topBar:has(&[data-selected="true"]) {
                    border-bottom: 1px solid rgba(42, 151, 62, 1);
                }
            }
        }

        div.right {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            align-items: center;
            border: 0px;
            font-size: 0.75rem;

            span.periculosidadeAlta {
                color: #f87171;
                font-weight: 600;
            }

            span.periculosidadeMedia {
                color: green;
                font-weight: 600;
            }

            div.campo[data-field="faccao"] {
                color: #f87171;
                font-weight: 600;
                border-left: 2px solid;
                padding-left: 10px;
            }
        }
    }

    div.body {
        display: flex;
        flex-wrap: nowrap; /* <- aqui */
        gap: 10px;
        line-height: 27px;
        width: 100%;
        box-sizing: border-box;

        div.colInfo {
            width: calc(100% - 130px); /* ocupa todo o espaço menos o da coluna do menu */
            user-select: text; /* permite seleção de texto */

            div.campo[data-field="nomeCompleto"] {
                flex: 1 1 100%; /* ocupa toda a largura */
                font-size: 1.1rem;
                font-weight: 600;
            }

            div.campo[data-field="documentosResumo"] {
                flex: 1 1 100%; /* ocupa toda a largura */
                font-size: 0.8rem;
                line-height: 0.9rem;
                padding: 0px !important;
                padding-left: 10px !important;
                margin: 0px !important;
                margin-top: -12px !important;
                color: gray;
            }

            div.colFoto {
                width: 120px;
                padding: 0px;

                div.fotoContainer {
                    width: 100%;
                    height: 160px;
                    object-fit: contain; /* Manter proporção da imagem */
                    border: 2px solid #4a5568;
                    border-radius: 4px;
                    background-image: url('../img/semFoto.jpeg'); /* Avatar padrão */
                }

                img {
                    display: none;
                }
            }

            div.colDados{
                width: calc(100% - 125px - 20px); /* ocupa o restante do espaço ao lado da foto */
                line-height: 16px;
            }

            div.campo[data-field="faccao"] span {
                color: #f87171;
                font-weight: 600;
            }
        }

        div.colMenu {
            display: flex; /* Define um layout flexível */
            flex-direction: column; /* Organiza os itens em uma coluna */
            flex: 0 0 130px; /* Largura fixa de 130px */
            align-items: center; /* Alinha os itens no centro horizontalmente */
            justify-content: space-between; /* Distribui os itens igualmente na vertical */
            gap: 3px;
            user-select: none; /* Impede a seleção de texto */

            button {
                min-width: 120px;
                height: 25px;
                font-size: 0.75rem;
                background-color: rgba(143, 143, 143, 0.3);

                &:hover {
                    background-color: rgba(143, 143, 143, 0.5);
                }
            }

            button.green {
                background-color: rgba(42, 151, 62, 0.3);

                &:hover {
                    background-color: rgba(42, 151, 62, 0.5);
                }
            }
        }
    }

    div.footer {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding: 5px;
        border-top: 1px solid #333;

        button.editar {
            background-color: rgba(37, 99, 235, 0.3);

            &:hover {
                background-color: rgba(37, 99, 235, 0.5);
            }
        }

        button.excluir {
            background-color: rgba(239, 68, 68, 0.3);

            &:hover {
                background-color: rgba(239, 68, 68, 0.5);
            }
        }
    }

    &.red {
        /* destaque em vermelho no card inteiro (quando é facção criminosa) */
        border-top: 3px solid #f87171;
    }
}

section.fotocrimForm {
    div.modalBackdrop {
        div.modal {
            width: 900px;

            form.fotocrim {
                input.nomeCompleto {
                    width: 800px;
                }
            }
        }
    }
}
