div.topBar {
    /*background: #1e1e1e;*/
    background: rgba(2, 6, 23, 0.7);
    color: #f1f1f1;
    padding: 10px;
    margin-top: -10px;
    border-bottom: 1px solid #333;
    border-radius: 10px;
    user-select: none;

    /* Linha 1: título + menu */
    div.titulo {
        display: flex;
        justify-content: space-between; /* título à esquerda, menu à direita */
        align-items: center; /* alinhamento vertical */
        width: 100%;

        strong {
            font-size: 1.5rem;
            color: #f1f1f1;
            font-weight: 500;
            margin-left: 10px;
        }

        div.menuModulo {
            display: flex;
            gap: 10px;
        }
    }
}
