section.modulo {
    div.topBarModulo {
        position: sticky;
        top: -20px;
        margin-left: -5px;
        margin-top: -20px;
        background: rgba(2, 6, 23, 1);
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #333;
        border-radius: 10px;
        user-select: none;

        /* Linha 1: título + menu */
        div.titulo {
            display: flex;
            justify-content: space-between; /* título à esquerda, menu à direita */
            align-items: center; /* alinhamento vertical */
            width: 100%;

            strong {
                font-size: 1.5rem;
                color: #f1f1f1;
                font-weight: 500;
                margin-left: 10px;
            }

            div.menuModulo {
                display: flex;
                gap: 10px;
            }
        }
    }

    div.content{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-between;
    }
}
